{% extends "layout/layout.html" %}
{% block title %}Busqueda{% endblock %}

{% block content %}
<section id="content">
    <!-- CONTENIDO PRINCIPAL -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Busqueda</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Panel de control</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="#">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>

        
            
        </div>
    </main>
    <!-- CONTENIDO PRINCIPAL -->
</section>
{% endblock %}
