{% extends "layout/layout.html" %}
{% block title %}Configuración{% endblock %}

{% block content %}
<section id="content">
    <!-- CONTENIDO PRINCIPAL -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Configuración</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Configuración</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="/dashboard">Inicio</a>
                    </li>
                </ul>
            </div>
            {% if current_user.rol == 1 %}
<button id="btn-open-modal1" class="btn-evento" onclick="openModal('myModalCrearUsuario')">
    <i class='bx bx-user-plus'></i>
    <span class="text">Crear Usuario</span>
</button>
{% endif %}

        </div>

        <!-- Modal para Crear Usuario -->
        <div id="myModalCrearUsuario" class="new-modal" style="display: none;">
            <div class="new-modal-content">
                <span class="new-close" onclick="closeModal('myModalCrearUsuario')">&times;</span>
                <div class="new-form-information">
                    <div class="new-form-information-childs">
                        <h2>Crear Nuevo Usuario</h2>
                        <p>Rellena los datos para crear un nuevo usuario</p>
                        <form action="{{ url_for('registro') }}" method="post" class="new-form">
                            <!-- Agregamos el campo CSRF -->
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <label>
                                <i class='bx bx-user'></i>
                                <input type="text" id="nombre" name="nombre" placeholder="Nombre Completo" required>
                            </label>
                            <label>
                                <i class='bx bx-envelope'></i>
                                <input type="email" id="correo" name="correo" placeholder="Correo Electrónico" required>
                            </label>
                            <label>
                                <i class='bx bx-lock-alt'></i>
                                <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña" required>
                            </label>
                            <label for="rol" class="styled-label">
                                <i class='bx bx-lock-alt'></i> Rol:
                            </label>
                            <select id="rol" name="rol" class="styled-select" required>
                                <option value="1">Administrador</option>
                                <option value="2">Coordinador</option>
                                <option value="3">Monitor</option>
                            </select>
                            <div class="new-modal-footer">
                                <button type="button" id="closeModalBtnCrearUsuario" class="new-close-btn" onclick="closeModal('myModalCrearUsuario')">Cerrar</button>
                                <input type="submit" class="new-save-btn" value="Crear Usuario">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-data">
            <div class="order">
                <div class="head-container">
                    <div class="head">
                        <h3>Administrar Usuarios</h3>
                        <i class='bx bx-search' id="search-icon"></i>
                        <input type="text" id="search-input" placeholder="Buscar por nombre o correo">
                        <i class='bx bx-filter'></i>
                    </div>
                </div>
                <div class="table-container">
                    <table class="full-width-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th class="nowrap">Correo</th>
                                <th class="nowrap">Rol</th>
                                {% if current_user.rol != 2 %}
                                    <th>Acciones</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.nombre }}</td>
                                    <td class="nowrap">{{ usuario.correo }}</td>
                                    <td class="nowrap">
                                        {% if usuario.rol == 1 %}
                                            Administrador
                                        {% elif usuario.rol == 2 %}
                                            Coordinador
                                        {% else %}
                                            Monitor
                                        {% endif %}
                                    </td>
                                    {% if current_user.rol != 2 %}
                                        <td>
                                            {% if current_user.rol == 1 %}
                                                <button class="custom-btn" onclick="openEditModal('{{ usuario.id }}', '{{ usuario.nombre }}', '{{ usuario.correo }}', '{{ usuario.rol }}')">Editar</button>
                                                <!-- Botón para mostrar modal de confirmación de eliminación -->
                                                <button class="custom-btn-eliminar" onclick="mostrarConfirmacion('{{ usuario.id }}')">Eliminar</button>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>                        
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal de Confirmación de Eliminación -->
<div id="confirmarEliminarModaly" class="new-modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close new-close" onclick="cerrarConfirmacion()">&times;</span>
            <h2>Confirmar eliminación de usuario</h2>
        </div>
        <div class="modal-body">
            <div class="new-form-information">
                <p>¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.</p>
            </div>
        </div>
        <div class="modal-footer" style="text-align: center;">
            <form id="eliminarForm" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" id="usuarioIdEliminar" name="usuario_id">
                <div style="text-align: center;">
                    <button type="button" class="btn-cancel new-close-btn" onclick="cerrarConfirmacion()">Cancelar</button>
                    <button type="submit" class="btn-delete new-save-btn">Eliminar Usuario</button>
                </div>
            </form>
        </div>
    </div>
</div>


   

                   

        
        <!-- Modal de Edición de Usuario -->
        <div id="editModal" class="new-modal" style="display: none;">
            <div class="new-modal-content">
                <span class="new-close" onclick="closeEditModal()">&times;</span>
                <div class="new-form-information">
                    <div class="new-form-information-childs">
                        <h2>Editar Usuario</h2>
                        <form id="editForm" action="" method="post" class="new-form">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" id="editUsuarioId" name="id">
                            <label>
                                <i class='bx bx-user'></i>
                                <input type="text" id="editNombre" name="nombre" placeholder="Nombre Completo" required>
                            </label>
                            <label>
                                <i class='bx bx-envelope'></i>
                                <input type="email" id="editCorreo" name="correo" placeholder="Correo Electrónico" required>
                            </label>
                            <labeal for="editRol" class="styled-label">
                                <i class='bx bx-lock-alt'></i> Rol:
                            </label>
                            <select id="editRol" name="rol" class="styled-select" required>
                                <option value="1">Administrador</option>
                                <option value="2">Coordinador</option>
                                <option value="3">Monitor</option>
                            </select>
                            <div class="new-modal-footer">
                                <button type="button" class="new-close-btn" onclick="closeEditModal()">Cerrar</button>
                                <input type="submit" class="new-save-btn" value="Guardar Cambios">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
</section>

<style>
    /* Estilos para asegurar que la tabla ocupe el ancho completo */
    .full-width-table {
        width: 100%;
        table-layout: fixed; /* Fuerza a que la tabla ocupe el ancho completo */
    }
    
    .table-container {
        overflow-x: auto; /* Permite desplazarse horizontalmente si es necesario */
    }

    .nowrap {
        white-space: nowrap; /* Evita el salto de línea */
        overflow: hidden; /* Oculta el exceso de texto */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando hay exceso de texto */
    }

  

</style>

<script>
    // Función para abrir el modal
    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "flex";
    }

    // Función para cerrar el modal
    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "none";
    }

    // Cerrar el modal al hacer clic en el botón de cerrar
    document.getElementById("closeModalBtnCrearUsuario").onclick = function() {
        closeModal('myModalCrearUsuario');
    }

    // Cerrar el modal al hacer clic fuera del contenido del modal
    window.onclick = function(event) {
        var modal = document.getElementById('myModalCrearUsuario');
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

      // Función para abrir el modal de edición de usuarios
      function openEditModal(id, nombre, correo, rol) {
        document.getElementById('editUsuarioId').value = id;
        document.getElementById('editNombre').value = nombre;
        document.getElementById('editCorreo').value = correo;
        document.getElementById('editRol').value = rol;
        document.getElementById('editForm').action = `/editar_usuario/${id}`;
        document.getElementById('editModal').style.display = 'flex';
    }

    // Función para cerrar el modal de edición de usuarios
    function closeEditModal() {
        document.getElementById('editModal').style.display = 'none';
    }

    // Función para cerrar todos los modales al presionar Escape
document.addEventListener('keydown', function(event) {
    if (event.key === "Escape") {
        var modals = document.getElementsByClassName('new-modal');
        for (var i = 0; i < modals.length; i++) {
            modals[i].style.display = "none";
        }
    }
});



 // Función para abrir el modal de confirmación de eliminación
 function mostrarConfirmacion(usuarioId) {
    document.getElementById('usuarioIdEliminar').value = usuarioId; // Establece el valor del usuario a eliminar
    document.getElementById('eliminarForm').action = `/eliminar_usuario/${usuarioId}`; // Actualiza dinámicamente el action del formulario
    document.getElementById('confirmarEliminarModaly').style.display = 'block'; // Muestra el modal
}

// Función para cerrar el modal de confirmación de eliminación
function cerrarConfirmacion() {
    document.getElementById('confirmarEliminarModaly').style.display = 'none'; // Oculta el modal
}

</script>
{% endblock %}
