{% extends "layout/layout.html" %}
{% block title %}Proyectos{% endblock %}

{% block content %}
<section id="content">
    <!-- CONTENIDO PRINCIPAL -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>PROYECTOS</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Proyectos</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="/dashboard">Inicio</a>
                    </li>
                </ul>
            </div>
            <button id="btn-open-modal1" class="btn-evento" onclick="openModal('myModalPreliminar')">
                <i class='bx bx-book-bookmark'></i>
                <span class="text">Registrar Un Nuevo Proyecto</span>
            </button>
        </div>

        <ul class="box-info">
            <li>
                <i class='bx bxs-book-add'></i>
                <span class="text">
                    <h3 id="proyectos-registrados">0</h3>
                    <h3>PROYECTOS</h3>
                    <p>Registrados</p>
                </span>
            </li>
            <li>
                <i class='bx bxs-select-multiple'></i>
                <span class="text">
                    <h3 id="proyectos-activos">0</h3>
                    <h3>PROYECTOS</h3>
                    <p>Activos</p>
                </span>
            </li>
            <li>
                <i class='bx bxs-box'></i>
                <span class="text">
                    <h3 id="proyectos-terminados">0</h3>
                    <h3>PROYECTOS</h3>
                    <p>Terminados</p>
                </span>
            </li>
          </ul>

<!-- Modal -->
<div id="myModalPreliminar" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('myModalPreliminar')">&times;</span>
        <h2>Registrar Nuevo Proyecto</h2>
        <form id="crearProyectoForm" action="{{ url_for('crear_proyecto') }}" method="post" onsubmit="return validarFechas()">
            <!-- Agregamos el campo CSRF -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <br><br>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
            <br>
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" required><br><br>
            <br>
            <div id="cluster_select">
                <label for="cluster">Cluster:</label>
                <select id="cluster_select_option" name="cluster" required>
                    <option value="" disabled selected>Seleccione un Cluster</option>
                    <option value="Cluster de Agua, Saneamiento e Higiene (WASH)">Cluster de Agua, Saneamiento e Higiene (WASH)</option>
                    <option value="Cluster de Alimentación y Nutrición">Cluster de Alimentación y Nutrición</option>
                    <option value="Cluster de Educación">Cluster de Educación</option>
                    <option value="nuevo">Agregar Nuevo</option>
                </select><br><br>
                <input type="text" id="cluster_text" name="cluster" placeholder="Nuevo Cluster" style="display: none;"><br><br>
            </div>
            <br>
            <label for="responsable">Responsable:</label>
            <input type="text" id="responsable" name="responsable" required><br><br>
            <br>
            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" required><br><br>
            <br>
            <label for="fecha_finalizacion">Fecha de Finalización:</label>
            <input type="date" id="fecha_finalizacion" name="fecha_finalizacion" required><br><br>
            <br>
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" required>
                <option value="Activo">Activo</option>
                <option value="Inactivo">Inactivo</option>
            </select><br><br>

            <input type="submit" class="btn btn-primary" value="Crear Proyecto">
        </form>
    </div>
</div>




<div class="table-data">
    <div class="order">
        <div class="head-container">
            <div class="head">
                <h3>Proyectos creados recientemente</h3>
                <i class='bx bx-search' id="search-icon"></i>
                <input type="text" id="search-input" placeholder="Buscar por nombre o descripción">
                <i class='bx bx-filter'></i>
            </div>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Cluster</th>
                        <th>Responsable</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Finalización</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyecto in proyectos_paginados.items %}
                    <tr>
                        <td>{{ proyecto.nombre }}</td>
                        <td>{{ proyecto.descripcion }}</td>
                        <td>{{ proyecto.cluster }}</td>
                        <td>{{ proyecto.responsable }}</td>
                        <td>{{ proyecto.fecha_inicio.strftime('%Y-%m-%d') }}</td>
                        <td>{{ proyecto.fecha_finalizacion.strftime('%Y-%m-%d') }}</td>
                        <td class="status {{ proyecto.estado|lower }}">{{ proyecto.estado }}</td>
                        <td>
                            <a href="#" class="custom-btn" onclick="editarProyecto({{ proyecto.id }})">Gestionar Proyecto</a>
                            <a href="#" class="custom-btn-eliminar" data-proyecto-id="{{ proyecto.id }}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Paginación -->
<div class="pagination">
    {% if proyectos_paginados.has_prev %}
    <a href="?page={{ proyectos_paginados.prev_num }}" class="prev"><span class="arrow">&lt;</span> Anterior</a>
    {% else %}
    <span class="prev disabled"><span class="arrow">&lt;</span> Anterior</span>
    {% endif %}

    {% set visible_pages = 5 %}
    {% set start_page = proyectos_paginados.page - (visible_pages // 2) %}
    {% set end_page = proyectos_paginados.page + (visible_pages // 2) %}

    {% if start_page < 1 %}
    {% set end_page = end_page + (1 - start_page) %}
    {% set start_page = 1 %}
    {% endif %}

    {% if end_page > proyectos_paginados.pages %}
    {% set start_page = start_page - (end_page - proyectos_paginados.pages) %}
    {% set end_page = proyectos_paginados.pages %}
    {% if start_page < 1 %}
    {% set start_page = 1 %}
    {% endif %}
    {% endif %}

    {% if start_page > 1 %}
    <a href="?page=1">1</a>
    {% if start_page > 2 %}
    <span>...</span>
    {% endif %}
    {% endif %}

    {% for page_num in range(start_page, end_page + 1) %}
        {% if proyectos_paginados.page == page_num %}
            <strong>{{ page_num }}</strong>
        {% else %}
            <a href="?page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}

    {% if end_page < proyectos_paginados.pages %}
    {% if end_page < proyectos_paginados.pages - 1 %}
    <span>...</span>
    {% endif %}
    <a href="?page={{ proyectos_paginados.pages }}">{{ proyectos_paginados.pages }}</a>
    {% endif %}

    {% if proyectos_paginados.has_next %}
    <a href="?page={{ proyectos_paginados.next_num }}" class="next">Siguiente <span class="arrow">&gt;</span></a>
    {% else %}
    <span class="next disabled">Siguiente <span class="arrow">&gt;</span></span>
    {% endif %}
</div>
    </main>
    <!-- CONTENIDO PRINCIPAL -->
</section>

<script>
    // Función para abrir el modal
    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "block";
    }

    // Función para cerrar el modal
    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.style.display = "none";
    }

    // Función para actualizar la tabla de proyectos desde el servidor
function actualizarTablaProyectos() {
    fetch('/get_datos_tabla_proyectos')
        .then(response => response.json())
        .then(data => {
            var tableBody = document.querySelector('.table-data table tbody');
            tableBody.innerHTML = "";

            data.forEach(rowData => {
                var newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${rowData.nombre}</td>
                    <td>${rowData.descripcion}</td>
                    <td>${rowData.cluster}</td>
                    <td>${rowData.responsable}</td>
                    <td>${rowData.fecha_inicio}</td>
                    <td>${rowData.fecha_finalizacion}</td>
                    <td class="status ${rowData.estado.toLowerCase()}">${rowData.estado}</td>
<td>
    <a href="#" class="custom-btn" onclick="editarProyecto(${rowData.id})">Gestionar Proyecto</a>
    <a href="#" class="custom-btn-eliminar" data-proyecto-id="${rowData.id}">Eliminar</a>
</td>

                `;
                tableBody.appendChild(newRow);
            });
        })
}

    // Llamar a la función para actualizar la tabla de proyectos al cargar la página
    window.addEventListener('load', function() {
        actualizarTablaProyectos();
    });


  
        document.getElementById("cluster_select_option").addEventListener("change", function() {
            var clusterSelectOption = document.getElementById("cluster_select_option");
            var clusterText = document.getElementById("cluster_text");
            if (clusterSelectOption.value === "nuevo") {
                clusterText.style.display = "block";
            } else {
                clusterText.style.display = "none";
            }
        });
 

    // Función para editar un proyecto
function editarProyecto(proyectoId) {
    // Redirigir al usuario a la página de edición del proyecto con el ID del proyecto
    window.location.href = `/editar_proyecto/${proyectoId}`;
}


 // Función para actualizar las estadísticas de proyectos
 function actualizarEstadisticasProyectos() {
    fetch('/get_estadisticas_proyectos')
        .then(response => response.json())
        .then(data => {
            document.getElementById('proyectos-registrados').textContent = data.registrados;
            document.getElementById('proyectos-activos').textContent = data.activos;
            document.getElementById('proyectos-terminados').textContent = data.terminados;
        });
}

// Llamar a la función para actualizar las estadísticas de proyectos al cargar la página
window.addEventListener('load', function() {
    actualizarEstadisticasProyectos();
});

// Funcionalidad de búsqueda
document.getElementById('search-input').addEventListener('input', function() {
    var searchTerm = this.value.toLowerCase();
    var rows = document.querySelectorAll('.table-data table tbody tr');

    rows.forEach(row => {
        var nombre = row.children[0].textContent.toLowerCase();
        var descripcion = row.children[1].textContent.toLowerCase();

        if (nombre.includes(searchTerm) || descripcion.includes(searchTerm)) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });
});


function validarFechas() {
    var fechaInicio = document.getElementById("fecha_inicio").value;
    var fechaFinalizacion = document.getElementById("fecha_finalizacion").value;

    if (fechaInicio && fechaFinalizacion) {
        var inicio = new Date(fechaInicio);
        var finalizacion = new Date(fechaFinalizacion);

        if (finalizacion < inicio) {
            alert("La fecha de finalización debe ser posterior a la fecha de inicio.");
            return false; // Evita el envío del formulario
        }
    }
    return true; // Permite el envío del formulario
}

</script>

{% endblock %}
