{% extends "layout/layout.html" %}

{% block title %}Recursos{% endblock %}

{% block content %}
<section id="content">
    <!-- CONTENIDO PRINCIPAL -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Recursos</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Recursos</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="/dashboard">Inicio</a>
                    </li>
                </ul>
            </div>
   
            
        </div>

    </main>
    <!-- CONTENIDO PRINCIPAL -->
</section>



{% endblock %}






