{% extends "layout/layout.html" %}

{% block title %}Eventos{% endblock %}

{% block content %}
<section id="content">
    <!-- CONTENIDO PRINCIPAL -->
<style>
    .deshabilitado {
        opacity: 0.5;
    }
    
    .inhabilitado {
        opacity: 0.5;
        background-color: #f0f0f0;
    }
</style>

    <main>
        <div class="head-title">
            <div class="left">
                <h1>REGISTRO DE USUARIOS</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Registro de Usuarios</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="/dashboard">Inicio</a>
                    </li>
                </ul>
            </div>

            <button id="btn-open-modal1" class="btn-evento" onclick="openModal('myModalPreliminar')">
                <i class='bx bx-user-plus'></i>
                <span class="text">Registrar Usuario</span>
            </button>
        </div>

        <ul class="box-info">
            <li>
                <i class='bx bxs-user-check'></i>
                <span class="text">
                    <h3 id="usuarios-registrados">0</h3>
                    <h3>USUARIOS</h3>
                    <p>Registrados</p>
                </span>
            </li>
            <li>
                <i class='bx bxs-user-voice'></i>
                <span class="text">
                    <h3>634</h3>
                    <h3>USUARIOS</h3>
                    <p>Beneficiados</p>
                </span>
            </li>
            <li>
                <i class='bx bxs-user-x'></i>
                <span class="text">
                    <h3 id="usuarios-inhabilitados">0</h3>
                    <h3>USUARIOS</h3>
                    <p>Inhabilitados</p>
                </span>
            </li>
        </ul>

        <br>

        {% for actividad in actividades %}
<button class="btn-actividad" id="btn-actividad-{{ actividad.id }}" data-target="myModalActivity{{ actividad.id }}" onclick="openModal('myModalActivity{{ actividad.id }}')">
    <span class="text">{{ actividad.nombre }}</span>
</button>

<!-- Modal para cada actividad -->
<div id="myModalActivity{{ actividad.id }}" class="modaly" style="display: none;">
    <!-- Contenido del modal -->
    <div class="modal-contentenedor">
        <!-- Encabezado de la actividad -->
        <div class="modal-header-actividad">
            <h2>ACTIVIDAD PRINCIPAL: {{ actividad.nombre }}</h2>
            {% if actividad.actividad_padre %}
            <p>ACTIVIDAD PADRE: 
                <button class="btn-actividad-padre" onclick="openModal('myModalActivity{{ actividad.actividad_padre.id }}')">{{ actividad.actividad_padre.nombre }}</button>
            </p>
            {% endif %}
            {% if actividad.subactividad_nombres %}
            <p>ACTIVIDADES RELACIONADAS: 
                {% for subactividad_nombre in actividad.subactividad_nombres %}
                <button class="btn-subactividad" onclick="openSubactivityModal('{{ subactividad_nombre }}')">{{ subactividad_nombre }}</button>
                {% endfor %}
            </p>
            {% endif %}
        </div>

        <!-- Información adicional de la actividad -->
        <div class="modal-info">
            <p><strong>Persona Encargada:</strong> {{ actividad.persona_encargada }}</p>
            <p><strong>Fecha de Creación:</strong> {{ actividad.fecha_realizacion }}</p>
            <button onclick="exportarExcel('{{ actividad.id }}')" class="custom-btn">Exportar a Excel</button>
            <button class="modal-close-btn" onclick="closeModal('myModalActivity{{ actividad.id }}')">Cerrar</button>
        </div>

        <!-- Contenedor de la tabla para mostrar los registros asociados a la actividad -->
        <div id="contenedor-tabla-{{ actividad.id }}" class="modal-tabla-contenedor">
            <table class="actividad-registros">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Tipo de Documento</th>
                        <th>Número de Documento</th>
                        <th>País</th>
                        <th>Departamento</th>
                        <th>Municipio</th>
                        <th>Género</th>
                        <th>Edad</th>
                        <th>Grupo de Edad</th>
                        <th>Grupo Étnico</th>
                        <th>Discapacidad</th>
                        <th>Comunidad</th>
                        <th>Actividad</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in actividad.registros %}
                    <tr class="{% if registro.estado == 'deshabilitado' %}deshabilitado{% endif %} {% if registro.inhabilitado %}inhabilitado{% endif %}">
                        <td>{{ registro.nombres }}</td>
                        <td>{{ registro.apellidos }}</td>
                        <td>{{ registro.tipo_documento }}</td>
                        <td>{{ registro.numero_documento }}</td>
                        <td>{{ registro.pais }}</td>
                        <td>{{ registro.departamento }}</td>
                        <td>{{ registro.municipio }}</td>
                        <td>{{ registro.genero }}</td>
                        <td>{{ registro.edad }}</td>
                        <td>
                            {% if registro.grupo_edad == "menor_18" %}
                                Menor de 18
                            {% elif registro.grupo_edad == "18_49" %}
                                18 a 49
                            {% elif registro.grupo_edad == "50_mas" %}
                                50 o más
                            {% endif %}
                        </td>
                        <td>{{ registro.grupo_etnico }}</td>
                        <td>{{ registro.discapacidad }}</td>
                        <td>{{ registro.comunidad }}</td>
                        <td>{{ registro.actividad.nombre }}</td>
                        <td class="option">
                            <a href="#" class="custom-btn editar" onclick="abrirModalEdicion({{ registro.id }})">Editar</a>
                            <a href="#" class="custom-btn-eliminar eliminar" data-registro-id="{{ registro.id }}" onclick="mostrarConfirmarEliminarRegistroModal(this)">Eliminar</a><!-- Botón para Inhabilitar/Habilitar -->
                            <a href="#" class="custom-btn" data-registro-id="{{ registro.id }}" data-registro-inhabilitado="{{ 'true' if registro.inhabilitado else 'false' }}" onclick="mostrarConfirmarHabilitarRegistroModal(this)">
                                {{ 'Habilitar' if registro.inhabilitado else 'Inhabilitar' }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- Fin del contenedor de la tabla -->
            </div>
        </div>
        {% endfor %}


<!-- En usuarios.html -->
<div class="table-data">
    <div class="order">
        <div class="head-container">
            <div class="head">
                <h3>Registros Recientes</h3>
                <i class='bx bx-search' id="search-icon"></i>
                <input type="text" id="search-input" placeholder="Buscar por nombre o documento">
                <i class='bx bx-filter'></i>
            </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Tipo Documento</th>
                        <th>Número Documento</th>
                        <th>País</th>
                        <th>Departamento</th>
                        <th>Municipio</th>
                        <th>Género</th>
                        <th>Edad</th>
                        <th>Grupo Edad</th>
                        <th>Grupo Étnico</th>
                        <th>Discapacidad</th>
                        <th>Comunidad</th>
                        <th>Actividad</th>
                        <th class="options">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros_paginados.items %}
                    <tr class="{% if registro.estado == 'deshabilitado' %}deshabilitado{% endif %} {% if registro.inhabilitado %}inhabilitado{% endif %}">
                        <td>{{ registro.nombres }}</td>
                        <td>{{ registro.apellidos }}</td>
                        <td>{{ registro.tipo_documento }}</td>
                        <td>{{ registro.numero_documento }}</td>
                        <td>{{ registro.pais }}</td>
                        <td>{{ registro.departamento }}</td>
                        <td>{{ registro.municipio }}</td>
                        <td>{{ registro.genero }}</td>
                        <td>{{ registro.edad }}</td>
                        <td>{{ registro.grupo_edad }}</td>
                        <td>{{ registro.grupo_etnico }}</td>
                        <td>{{ registro.discapacidad }}</td>
                        <td>{{ registro.comunidad }}</td>
                        <td>{{ registro.actividad.nombre }}</td>  {# Asumiendo que tienes un atributo 'nombre' en 'actividad' #}
                        <td class="options">
                            <a href="#" class="custom-btn" onclick="abrirModalEdicion({{ registro.id }})">Editar</a>
                            <a href="#" class="custom-btn-eliminar" data-registro-id="{{ registro.id }}" onclick="mostrarConfirmarEliminarRegistroModal(this)">Eliminar</a>
                            <a href="#" class="custom-btn" data-registro-id="{{ registro.id }}" data-registro-inhabilitado="{{ 'true' if registro.inhabilitado else 'false' }}" onclick="mostrarConfirmarHabilitarRegistroModal(this)">
                                {{ 'Habilitar' if registro.inhabilitado else 'Inhabilitar' }}
                            </a>                       
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

<!-- Paginación -->
<div class="pagination">
    {% if registros_paginados.has_prev %}
    <a href="?page={{ registros_paginados.prev_num }}" class="prev"><span class="arrow">&lt;</span> Anterior</a>
    {% else %}
    <span class="prev disabled"><span class="arrow">&lt;</span> Anterior</span>
    {% endif %}

    {% set visible_pages = 5 %}
    {% set start_page = registros_paginados.page - (visible_pages // 2) %}
    {% set end_page = registros_paginados.page + (visible_pages // 2) %}

    {% if start_page < 1 %}
    {% set end_page = end_page + (1 - start_page) %}
    {% set start_page = 1 %}
    {% endif %}

    {% if end_page > registros_paginados.pages %}
    {% set start_page = start_page - (end_page - registros_paginados.pages) %}
    {% set end_page = registros_paginados.pages %}
    {% if start_page < 1 %}
    {% set start_page = 1 %}
    {% endif %}
    {% endif %}

    {% if start_page > 1 %}
    <a href="?page=1">1</a>
    {% if start_page > 2 %}
    <span>...</span>
    {% endif %}
    {% endif %}

    {% for page_num in range(start_page, end_page + 1) %}
        {% if registros_paginados.page == page_num %}
            <strong>{{ page_num }}</strong>
        {% else %}
            <a href="?page={{ page_num }}">{{ page_num }}</a>
        {% endif %}
    {% endfor %}

    {% if end_page < registros_paginados.pages %}
    {% if end_page < registros_paginados.pages - 1 %}
    <span>...</span>
    {% endif %}
    <a href="?page={{ registros_paginados.pages }}">{{ registros_paginados.pages }}</a>
    {% endif %}

    {% if registros_paginados.has_next %}
    <a href="?page={{ registros_paginados.next_num }}" class="next">Siguiente <span class="arrow">&gt;</span></a>
    {% else %}
    <span class="next disabled">Siguiente <span class="arrow">&gt;</span></span>
    {% endif %}
</div>

    </div>
</div>
    </main>
</section>


<style>
    .texto-registro {
        text-align: center;
    }
</style>






<!-- Diálogo emergente para confirmar eliminación de registro -->
<div id="confirmarEliminarRegistroModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="cerrarModal('confirmarEliminarRegistroModal')">&times;</span>
            <h2>Confirmar eliminación de registro</h2>
        </div>
        <div class="modal-body">
            <p>¿Estás seguro de que deseas eliminar este registro? Esta acción no se puede deshacer.</p>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel" onclick="cerrarModal('confirmarEliminarRegistroModal')">Cancelar</button>
            <a href="#" id="confirmarEliminarRegistroBtn" class="btn-delete">Eliminar registro</a>
        </div>
    </div>
</div>







<!-- Diálogo emergente para confirmar habilitación/inhabilitación de registro -->
<div id="confirmarHabilitarRegistroModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="cerrarModal('confirmarHabilitarRegistroModal')">&times;</span>
            <h2 id="modalHabilitarHeader">Confirmar acción</h2>
        </div>
        <div class="modal-body">
            <p id="modalHabilitarBody">¿Estás seguro de que deseas realizar esta acción?</p>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel" onclick="cerrarModal('confirmarHabilitarRegistroModal')">Cancelar</button>
            <a href="#" id="confirmarHabilitarRegistroBtn" class="btn-action">Confirmar</a>
        </div>
    </div>
</div>




<!-- Modal preliminar para seleccionar entre crear una nueva actividad o seleccionar una existente -->
<div id="myModalPreliminar" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-nav"></div>
        <span class="close" id="closeModalBtnPreliminar" onclick="closeModal('myModalPreliminar')">&times;</span>
        <h2 class="texto-registro" style="margin-bottom: 20px;">Seleccionar Opción</h2>
        <div class="btn-group" style="margin-top: 20px;">
            <button onclick="openModal('myModalActivity')" class="btn btn-fuente" style="background-color: var(--azul); font-weight: 530;">Nueva Actividad</button>
            <button onclick="openUserForm()" class="btn btn-fuente" style="background-color: #4caf50; margin-left: -100px; font-weight: 530;">Actividad Existente</button>
        </div>
    </div>
</div>




<!-- Modal para ingresar detalles de la actividad -->
<div id="myModalActivity" class="modal" style="display: none;">
    <!-- Contenido del modal -->
    <div class="modal-content">
        <div class="modal-nav">
            <!-- Agrega más botones según sea necesario para más modales -->
        </div>
        <span class="close" id="closeModalBtnActivity" onclick="closeModal('myModalActivity')">&times;</span>
        <h2 class="texto-registro">Agregar Actividad</h2><br><br><br>
        
        <form id="modalActivityForm" onsubmit="asignarPersona(event)" action="/guardar_actividad" method="post">
            <!-- Agregamos el campo CSRF -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <!-- Aquí van los campos para ingresar los detalles de la actividad -->
            <label for="nombre_actividad"><b>Nombre de la Actividad:</b></label>
            <input type="text" id="nombre_actividad" name="nombre_actividad" class="form-control" required><br><br>
            <label for="persona_encargada"><b>Persona Encargada:</b></label>
            <input type="text" id="persona_encargada" name="persona_encargada" class="form-control"><br><br>
            <label for="fecha_realizacion"><b>Fecha de Realización:</b></label>
            <input type="date" id="fecha_realizacion" name="fecha_realizacion" class="form-control" required><br><br>
            <label for="parent_id"><b>Actividad Padre (opcional):</b></label>
            <select id="parent_id" name="parent_id" class="form-control">
                <option value="">-- Ninguna --</option>
                {% for actividad in actividades %}
                    <option value="{{ actividad.id }}">{{ actividad.nombre }}</option>
                {% endfor %}
            </select><br><br>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>






<!-- Modal de Edición -->
<div id="editarModal" class="modal" style="display: none;">
    <!-- Contenido del Modal -->
    <div class="modal-content">
        <div class="modal-nav">
            <!-- Agrega más botones según sea necesario para más modales -->
        </div>
        <span class="close" id="closeEditarModalBtn" onclick="closeModal('editarModal')">&times;</span>
        <h2 class="texto-registro">EDITAR USUARIO</h2><br><br><br>
        
        <form id="editForm" action="/editar_registro" method="post">
            <div style="display: flex; justify-content: space-between;">
                <div style="flex: 1; padding-right: 10px;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" id="registro_id" name="id">
                    <label for="nombres"><b>Nombres:</b></label>
                    <input type="text" id="nombres" name="nombres" class="form-control"><br><br>
                    <label for="apellidos"><b>Apellidos:</b></label>
                    <input type="text" id="apellidos" name="apellidos" class="form-control"><br><br>
                    <label for="tipo_documento"><b>Tipo de documento:</b></label>
                    <select name="tipo_documento" id="tipo_documento" class="form-control">
                        <option value="cedula">Cédula</option>
                        <option value="registro_civil">Registro Civil</option>
                        <option value="pasaporte">Pasaporte</option>
                        <option value="tarjeta_identidad">Tarjeta de Identidad</option>
                    </select><br><br>
                    <label for="numero_documento"><b>Número de documento:</b></label>
                    <input type="text" id="numero_documento" name="numero_documento" class="form-control"><br><br>
                    <label for="pais"><b>País:</b></label>
                    <select name="pais" id="pais" class="form-control">
                        <option value="Argentina">Argentina</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Brazil">Brazil</option>
                        <option value="Chile">Chile</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Dominican Republic">Dominican Republic</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Panama">Panama</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Venezuela">Venezuela</option>
                    </select><br><br>
                    <label for="departamento"><b>Departamento:</b></label>
                    <select name="departamento" id="departamento" class="form-control">
                        <option value="">Seleccione un departamento</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Antioquia">Antioquia</option>
                        <option value="Arauca">Arauca</option>
                        <option value="Atlántico">Atlántico</option>
                        <option value="Bolívar">Bolívar</option>
                        <option value="Boyacá">Boyacá</option>
                        <option value="Caldas">Caldas</option>
                        <option value="Caquetá">Caquetá</option>
                        <option value="Casanare">Casanare</option>
                        <option value="Cauca">Cauca</option>
                        <option value="Cesar">Cesar</option>
                        <option value="Chocó">Chocó</option>
                        <option value="Córdoba">Córdoba</option>
                        <option value="Cundinamarca">Cundinamarca</option>
                        <option value="Guainía">Guainía</option>
                        <option value="Guaviare">Guaviare</option>
                        <option value="Huila">Huila</option>
                        <option value="La Guajira">La Guajira</option>
                        <option value="Magdalena">Magdalena</option>
                        <option value="Meta">Meta</option>
                        <option value="Nariño">Nariño</option>
                        <option value="Norte de Santander">Norte de Santander</option>
                        <option value="Putumayo">Putumayo</option>
                        <option value="Quindío">Quindío</option>
                        <option value="Risaralda">Risaralda</option>
                        <option value="San Andrés y Providencia">San Andrés y Providencia</option>
                        <option value="Santander">Santander</option>
                        <option value="Sucre">Sucre</option>
                        <option value="Tolima">Tolima</option>
                        <option value="Valle del Cauca">Valle del Cauca</option>
                        <option value="Vaupés">Vaupés</option>
                        <option value="Vichada">Vichada</option>
                    </select><br><br>
                    <label for="municipio"><b>Municipio:</b></label>
                    <input type="text" id="municipio" name="municipio" class="form-control"><br><br>
                </div>
                <div style="flex: 1; padding-left: 10px;">
                    <label for="genero"><b>Género:</b></label>
                    <select name="genero" id="genero" class="form-control">
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="no_especifica">No Especifica</option>
                    </select><br><br>
                    <label for="edad"><b>Edad:</b></label>
                    <input type="number" id="edad" name="edad" class="form-control"><br><br>
                    <label for="grupo_edad"><b>Grupo de Edad:</b></label>
                    <select name="grupo_edad" id="grupo_edad" class="form-control">
                        <option value="menor_18">Menor de 18 años</option>
                        <option value="18_49">18 a 49 años</option>
                        <option value="50_mas">50 años en adelante</option>
                    </select><br><br>
                    <label for="grupo_etnico"><b>Grupo Étnico:</b></label>
                    <select name="grupo_etnico" id="grupo_etnico" class="form-control">
                        <option value="mestizo">Mestizo</option>
                        <option value="afro">Afro</option>
                        <option value="campesino">Campesino</option>
                        <option value="indigena">Indígena</option>
                    </select><br><br>
                    <label for="discapacidad"><b>Discapacidad:</b></label>
                    <select name="discapacidad" id="discapacidad" class="form-control">
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select><br><br>
                    <label for="comunidad"><b>Comunidad:</b></label>
                    <input type="text" id="comunidad" name="comunidad" class="form-control"><br><br>
                    <label for="actividad"><b>Actividad:</b></label>
                    <select id="actividad" name="actividad" class="form-control">
                        {% for actividad in actividades %}
                            <option value="{{ actividad.nombre }}">{{ actividad.nombre }}</option>
                        {% endfor %}
                    </select><br><br>
                </div>
            </div><br>

            <button type="submit" id="btn-editar" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
</div>






<!-- Modal 1 -->
<div id="myModal1" class="modal" style="display: none;">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-nav">
            <!-- Agrega más botones según sea necesario para más modales -->
        </div>
        <span class="close" id="closeModalBtn1" onclick="closeModal('myModal1')">&times;</span>
        <h2 class="texto-registro">REGISTRAR USUARIO</h2><br><br><br>
        
        <form id="modal1Form" action="/guardar_registro" method="post">
            <div style="display: flex; justify-content: space-between;">
                <div style="flex: 1; padding-right: 10px;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label for="nombres"><b>Nombres:</b></label>
                    <input type="text" id="nombres" name="nombres" class="form-control"><br><br>
                    <label for="apellidos"><b>Apellidos:</b></label>
                    <input type="text" id="apellidos" name="apellidos" class="form-control"><br><br>
                    <label for="tipo_documento"><b>Tipo de documento:</b></label>
                    <select name="tipo_documento" id="tipo_documento" class="form-control">
                        <option value="cedula">Cédula</option>
                        <option value="registro_civil">Registro Civil</option>
                        <option value="pasaporte">Pasaporte</option>
                        <option value="tarjeta_identidad">Tarjeta de Identidad</option>
                    </select><br><br>
                    <label for="numero_documento"><b>Número de documento:</b></label>
                    <input type="text" id="numero_documento" name="numero_documento" class="form-control"><br><br>
                    <label for="pais"><b>País:</b></label>
                    <select name="pais" id="pais" class="form-control">
                        <option value="Argentina">Argentina</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Brazil">Brazil</option>
                        <option value="Chile">Chile</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Dominican Republic">Dominican Republic</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Panama">Panama</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Venezuela">Venezuela</option>
                    </select><br><br>
                    <label for="departamento"><b>Departamento:</b></label>
                    <select name="departamento" id="departamento" class="form-control">
                        <option value="">Seleccione un departamento</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Antioquia">Antioquia</option>
                        <option value="Arauca">Arauca</option>
                        <option value="Atlántico">Atlántico</option>
                        <option value="Bolívar">Bolívar</option>
                        <option value="Boyacá">Boyacá</option>
                        <option value="Caldas">Caldas</option>
                        <option value="Caquetá">Caquetá</option>
                        <option value="Casanare">Casanare</option>
                        <option value="Cauca">Cauca</option>
                        <option value="Cesar">Cesar</option>
                        <option value="Chocó">Chocó</option>
                        <option value="Córdoba">Córdoba</option>
                        <option value="Cundinamarca">Cundinamarca</option>
                        <option value="Guainía">Guainía</option>
                        <option value="Guaviare">Guaviare</option>
                        <option value="Huila">Huila</option>
                        <option value="La Guajira">La Guajira</option>
                        <option value="Magdalena">Magdalena</option>
                        <option value="Meta">Meta</option>
                        <option value="Nariño">Nariño</option>
                        <option value="Norte de Santander">Norte de Santander</option>
                        <option value="Putumayo">Putumayo</option>
                        <option value="Quindío">Quindío</option>
                        <option value="Risaralda">Risaralda</option>
                        <option value="San Andrés y Providencia">San Andrés y Providencia</option>
                        <option value="Santander">Santander</option>
                        <option value="Sucre">Sucre</option>
                        <option value="Tolima">Tolima</option>
                        <option value="Valle del Cauca">Valle del Cauca</option>
                        <option value="Vaupés">Vaupés</option>
                        <option value="Vichada">Vichada</option>
                    </select><br><br>
                    <label for="municipio"><b>Municipio:</b></label>
                    <input type="text" id="municipio" name="municipio" class="form-control"><br><br>
                </div>
                <div style="flex: 1; padding-left: 10px;">
                    <label for="genero"><b>Género:</b></label>
                    <select name="genero" id="genero" class="form-control">
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="no_especifica">No Especifica</option>
                    </select><br><br>
                    <label for="edad"><b>Edad:</b></label>
                    <input type="number" id="edad" name="edad" class="form-control"><br><br>
                    <label for="grupo_edad"><b>Grupo de Edad:</b></label>
                    <select name="grupo_edad" id="grupo_edad" class="form-control">
                        <option value="menor_18">Menor de 18 años</option>
                        <option value="18_49">18 a 49 años</option>
                        <option value="50_mas">50 años en adelante</option>
                    </select><br><br>
                    <label for="grupo_etnico"><b>Grupo Étnico:</b></label>
                    <select name="grupo_etnico" id="grupo_etnico" class="form-control">
                        <option value="mestizo">Mestizo</option>
                        <option value="afro">Afro</option>
                        <option value="campesino">Campesino</option>
                        <option value="indigena">Indígena</option>
                    </select><br><br>
                    <label for="discapacidad"><b>Discapacidad:</b></label>
                    <select name="discapacidad" id="discapacidad" class="form-control">
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select><br><br>
                    <label for="comunidad"><b>Comunidad:</b></label>
                    <input type="text" id="comunidad" name="comunidad" class="form-control"><br><br>
                    <label for="actividad"><b>Actividad:</b></label>
<select id="actividad" name="actividad" class="form-control">
    {% for actividad in actividades %}
        <option value="{{ actividad.nombre }}">{{ actividad.nombre }}</option>
    {% endfor %}
</select><br><br>

                </div>
            </div><br>

            <button type="submit" id="btn-guardar" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>


<div id="custom-dialog" class="custom-dialog" style="display: none;">
    <div class="custom-dialog-content">
        <p>¿Desea crear otro usuario?</p>
        <div class="custom-dialog-buttons">
            <button id="custom-dialog-yes">Sí</button>
            <button id="custom-dialog-no">No</button>
        </div>
    </div>
</div>

<div id="registro-exitoso" class="registro-exitoso">
    <div class="contenido">
        <img src="static/img/ok.png" alt="">
        <p>El registro se ha guardado exitosamente.</p>
    </div>
</div>

<script>
    // Función para abrir el modal
function openModal(modalId) {
    var modal = document.getElementById(modalId);
    var allModals = document.querySelectorAll('.modaly');
    
    // Cerrar todos los modales activos
    allModals.forEach(function(modal) {
        modal.style.display = "none";
    });

    // Abrir el modal solicitado
    if (modal) {
        modal.style.display = "block";
    }
}


    // Función para cerrar el modal
    function closeModal(modalId) {
        var modals = document.querySelectorAll('.modal, .modaly'); // Obtener todos los modals
        modals.forEach(function(modal) {
            modal.style.display = "none"; // Ocultar todos los modals
        });
    }


    function abrirModalEdicion(registroId) {
        fetch(`/obtener_registro/${registroId}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('registro_id').value = data.id;
                document.getElementById('nombres').value = data.nombres;
                document.getElementById('apellidos').value = data.apellidos;
                document.getElementById('tipo_documento').value = data.tipo_documento;
                document.getElementById('numero_documento').value = data.numero_documento;
                document.getElementById('pais').value = data.pais;
                document.getElementById('departamento').value = data.departamento;
                document.getElementById('municipio').value = data.municipio;
                document.getElementById('genero').value = data.genero;
                document.getElementById('edad').value = data.edad;
                document.getElementById('grupo_edad').value = data.grupo_edad;
                document.getElementById('grupo_etnico').value = data.grupo_etnico;
                document.getElementById('discapacidad').value = data.discapacidad;
                document.getElementById('comunidad').value = data.comunidad;
                document.getElementById('actividad').value = data.actividad;
    
                openModal('editarModal');
            })
            .catch(error => console.error('Error:', error));
    }

    function cancelarEliminarRegistro() {
        closeModal('confirmarEliminarRegistroModal');
    }

    // Función para cerrar el modal al hacer clic en el símbolo "x"
    function cerrarModal(modalId) {
        closeModal(modalId);
    }
    // Función para mostrar el formulario de registro de personas
    function openUserForm() {
        closeModal('myModalActivity'); // Cerramos el modal de actividad
        
        // Obtener la lista actualizada de actividades antes de mostrar el formulario de registro de usuario
        fetch('/get_activities')
            .then(response => response.json())
            .then(data => {
                // Actualizar las opciones del campo de actividad
                var select = document.getElementById('actividad');
                select.innerHTML = ""; // Limpiar las opciones actuales
                var defaultOption = document.createElement('option');
                defaultOption.text = "Seleccione una actividad";
                select.add(defaultOption);
                data.forEach(actividad => {
                    var option = document.createElement('option');
                    option.value = actividad.nombre;
                    option.text = actividad.nombre;
                    select.add(option);
                });
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al cargar las actividades.');
            });
        
        openModal('myModal1'); // Mostramos el modal de registro de usuario
    }

    function openActivityModal(activityId) {
        // Obtener la referencia al modal de la actividad
        var modalId = 'myModalActivity' + activityId;
        openModal(modalId);
    }

    // Fragmento de código para manejar los eventos de clic en los botones de actividad
    {% for actividad in actividades %}
        var btnActividad{{ actividad.id }} = document.getElementById('btn-actividad-{{ actividad.id }}');
        btnActividad{{ actividad.id }}.addEventListener('click', function() {
            var modalId = this.getAttribute('data-target');
            openModal(modalId);
        });
    {% endfor %}

    function actualizarTabla() {
        fetch('/get_datos_tabla')
            .then(response => response.json())
            .then(data => {
                // Obtener la tabla y su cuerpo
                var tableBody = document.querySelector('.table-data table tbody');
                
                // Crear un fragmento para construir las nuevas filas
                var fragment = document.createDocumentFragment();
                
                // Insertar filas con los datos recibidos en el fragmento
                data.forEach(rowData => {
                    var newRow = document.createElement('tr');
                    newRow.innerHTML = `
                        <td>${rowData.nombres}</td>
                        <td>${rowData.apellidos}</td>
                        <td>${rowData.tipo_documento}</td>
                        <td>${rowData.numero_documento}</td>
                        <td>${rowData.pais}</td>
                        <td>${rowData.departamento}</td>
                        <td>${rowData.municipio}</td>
                        <td>${rowData.genero}</td>
                        <td>${rowData.edad}</td>
                        <td>${rowData.grupo_edad}</td>
                        <td>${rowData.grupo_etnico}</td>
                        <td>${rowData.discapacidad}</td>
                        <td>${rowData.comunidad}</td>
                        <td>${rowData.actividad}</td>
                        <td class="options">
                            <a href="#" class="custom-btn" onclick="abrirModalEdicion(${rowData.id})">Editar</a>
                            <a href="#" class="custom-btn-eliminar" data-registro-id="${rowData.id}" onclick="mostrarConfirmarEliminarRegistroModal(this)">Eliminar</a>
                            <a href="#" class="custom-btn" data-registro-id="${rowData.id}" data-registro-inhabilitado="${rowData.inhabilitado}" onclick="mostrarConfirmarHabilitarRegistroModal(this)">
                                ${rowData.inhabilitado ? 'Habilitar' : 'Inhabilitar'}
                            </a>
                        </td>
                    `;
                    fragment.appendChild(newRow); // Agregar la nueva fila al fragmento
                });
                
                // Limpiar la tabla antes de insertar las nuevas filas
                tableBody.innerHTML = '';
                
                // Insertar el fragmento al principio del cuerpo de la tabla
                tableBody.appendChild(fragment);
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al cargar los datos de la tabla.');
            });
    }
    
    
    

    function asignarPersona(event) {
        event.preventDefault(); // Evitar que el formulario se envíe automáticamente
        
        // Validar los campos del formulario de actividad
        var nombreActividad = document.getElementById("nombre_actividad").value;
        var fechaRealizacion = document.getElementById("fecha_realizacion").value;
        
        // Verificar que los campos obligatorios no estén vacíos
        if (nombreActividad.trim() === '' || fechaRealizacion.trim() === '') {
            alert("Por favor, complete todos los campos de la actividad.");
            return;
        }
        
        // Enviar los datos del formulario de actividad al servidor utilizando Fetch API
        var formData = new FormData(document.getElementById("modalActivityForm"));
        fetch('/guardar_actividad', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRF-Token': '{{ csrf_token() }}' // Agregar el token CSRF si es necesario
            }
        })
        .then(response => {
            if (response.ok) {
                // Los datos se guardaron correctamente, mostrar el formulario de registro de usuario
                openUserForm();
                
                // Procesar los datos del nuevo registro
                response.json().then(data => {
                    // Crear una nueva fila de la tabla con los datos del nuevo registro
                    var newRow = document.createElement('tr');
                    newRow.innerHTML = `
                        <td>${data.nombres}</td>
                        <td>${data.apellidos}</td>
                        <td>${data.tipo_documento}</td>
                        <td>${data.numero_documento}</td>
                        <td>${data.pais}</td>
                        <td>${data.departamento}</td>
                        <td>${data.municipio}</td>
                        <td>${data.genero}</td>
                        <td>${data.edad}</td>
                        <td>${data.grupo_edad}</td>
                        <td>${data.grupo_etnico}</td>
                        <td>${data.discapacidad}</td>
                        <td>${data.comunidad}</td>
                        <td>${data.actividad}</td>
                    `;
                    
                    // Insertar la nueva fila en la tabla existente (al final del cuerpo de la tabla)
                    var tableBody = document.querySelector('.table-data table tbody');
                    tableBody.appendChild(newRow);
                });
        
                // Llamar a actualizarTabla para actualizar la tabla
                actualizarTabla();
            } else {
                // Hubo un error al guardar los datos, mostrar un mensaje de error
                alert('Error al guardar los datos de la actividad.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al comunicarse con el servidor.');
        });
    }

    // Función para manejar el botón de guardar del formulario de registro de personas
    function guardarRegistro(event) {
        event.preventDefault(); // Evitar que el formulario se envíe automáticamente
        
        // Enviar los datos del formulario de registro de personas al servidor utilizando Fetch API
        var formData = new FormData(document.getElementById("modal1Form"));
        fetch('/guardar_registro', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRF-Token': '{{ csrf_token() }}' // Agregar el token CSRF si es necesario
            }
        })
        .then(response => {
            if (response.ok) {
                // Mostrar mensaje de confirmación personalizado
                document.getElementById("custom-dialog").style.display = "block";
                // Agregar eventos clic a los botones del diálogo personalizado
                document.getElementById("custom-dialog-yes").addEventListener("click", function() {
                    // Si se confirma, limpiar el formulario para crear otro usuario
                    document.getElementById("modal1Form").reset();
                    // Cerrar el diálogo
                    document.getElementById("custom-dialog").style.display = "none";
                    // Llamar a actualizarTabla para actualizar la tabla
                    actualizarTabla();
                });


                document.getElementById("custom-dialog-no").addEventListener("click", function() {
                 // Si no se confirma, cerrar el modal
                closeModal('myModal1');
                // Cerrar el diálogo
                 document.getElementById("custom-dialog").style.display = "none";
                // Llamar a actualizarTabla para actualizar la tabla
                 actualizarTabla();
                });


                // Mostrar el mensaje de registro exitoso
                document.getElementById("registro-exitoso").style.display = "block";
                // Agregar animación de entrada
                document.getElementById("registro-exitoso").style.opacity = '1';
                // Configurar temporizador para que desaparezca después de 3 segundos
                setTimeout(function() {
                    // Agregar animación de salida
                    document.getElementById("registro-exitoso").style.opacity = '0';
                    // Esperar a que termine la animación de salida y luego ocultar el mensaje
                    setTimeout(function() {
                        document.getElementById("registro-exitoso").style.display = 'none';
                    }, 300); // 300 milisegundos para que coincida con la duración de la animación de salida
                }, 3000); // 3000 milisegundos (3 segundos)
            } else {
                // Hubo un error al guardar los datos, mostrar un mensaje de error
                alert('Error al guardar los datos del registro de usuario.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al comunicarse con el servidor.');
        });
    }

    // Agregar evento clic al botón "Guardar" del formulario de registro de personas
    document.getElementById("btn-guardar").addEventListener("click", guardarRegistro);

    // Función para cerrar el modal al presionar la tecla "Esc"
    document.addEventListener('keydown', function(event) {
        if (event.key === "Escape") {
            closeModal(); // Llamar a closeModal sin argumentos para cerrar el modal activo
        }
    });

  
    function exportarExcel(actividadId) {
        // Obtener el contenedor de la tabla de registros asociados a la actividad
        var contenedorTabla = document.getElementById('contenedor-tabla-' + actividadId);
        if (!contenedorTabla) {
            alert("No se encontró el contenedor de la tabla de registros para la actividad " + actividadId);
            return;
        }
        
        // Obtener la tabla de registros asociados a la actividad dentro del contenedor
        var table = contenedorTabla.querySelector('.actividad-registros');
        if (!table) {
            alert("No se encontró la tabla de registros para la actividad " + actividadId);
            return;
        }
        
        // Crear un libro de Excel
        var wb = XLSX.utils.table_to_book(table, {sheet: "Registros"});
        
        // Guardar el libro de Excel como un archivo
        XLSX.writeFile(wb, 'registros_actividad_' + actividadId + '.xlsx');
    }
    

    

        document.addEventListener('DOMContentLoaded', function() {
            var eliminarBotones = document.querySelectorAll('.custom-btn-eliminar');
            eliminarBotones.forEach(function(boton) {
                boton.addEventListener('click', function() {
                    var registroId = this.dataset.registroId;
                    mostrarConfirmarEliminarRegistroModal(registroId);
                });
            });
    
            function mostrarConfirmarEliminarRegistroModal(registroId) {
                var modal = document.getElementById('confirmarEliminarRegistroModal');
                if (modal) {
                    // Configurar el botón "Eliminar registro" para que ejecute la función eliminarRegistro
                    var confirmarEliminarRegistroBtn = document.getElementById('confirmarEliminarRegistroBtn');
                    confirmarEliminarRegistroBtn.onclick = function() {
                        eliminarRegistro(registroId);
                        cerrarModal('confirmarEliminarRegistroModal');
                    };
                    openModal('confirmarEliminarRegistroModal');
                }
            }
    
            function eliminarRegistro(registroId) {
                fetch('/eliminar_registro/' + registroId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token() }}'  // Asegúrate de incluir el token CSRF
                    },
                })
                .then(function(response) {
                    if (response.ok) {
                        // Recargar la página o actualizar la tabla de registros
                        window.location.reload();
                    } else {
                        throw new Error('Hubo un problema al eliminar el registro.');
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                    alert('Hubo un problema al eliminar el registro.');
                });
            }
    
            // Función para abrir el modal
            function openModal(modalId) {
                var modal = document.getElementById(modalId);
                if (modal) {
                    modal.style.display = "block"; // Abrir el modal solicitado
                }
            }
    
            // Función para cerrar el modal
            function cerrarModal(modalId) {
                var modal = document.getElementById(modalId);
                if (modal) {
                    modal.style.display = "none"; // Cerrar el modal solicitado
                }
            }
        });

    
        // Función para abrir un modal de subactividad y cerrar el modal actual
    function openSubactivityModal(subactividadNombre) {
        // Obtener el modal actual (el que está visible)
        var currentModal = document.querySelector('.modaly[style*="display: block"]');
        // Cerrar el modal actual
        if (currentModal) {
            currentModal.style.display = 'none';
        }

        // Buscar y abrir el modal correspondiente a la subactividad
        var allModals = document.querySelectorAll('.modaly');
        allModals.forEach(modal => {
            if (modal.querySelector('h2').textContent.includes(subactividadNombre)) {
                openModal(modal.id);
            }
        });
    }


    document.addEventListener('DOMContentLoaded', function() {
        // Mostrar el modal de confirmación para habilitar/inhabilitar el registro
        window.mostrarConfirmarHabilitarRegistroModal = function(element) {
            var registroId = element.dataset.registroId;
            var inhabilitado = element.dataset.registroInhabilitado === 'true';
            var modal = document.getElementById('confirmarHabilitarRegistroModal');
            
            if (modal) {
                var header = document.getElementById('modalHabilitarHeader');
                var body = document.getElementById('modalHabilitarBody');
                var confirmarHabilitarRegistroBtn = document.getElementById('confirmarHabilitarRegistroBtn');
    
                if (inhabilitado) {
                    header.textContent = 'Confirmar habilitación de registro';
                    body.textContent = '¿Estás seguro de que deseas habilitar este registro?';
                    confirmarHabilitarRegistroBtn.textContent = 'Habilitar registro';
                    confirmarHabilitarRegistroBtn.classList.remove('btn-inhabilitar');
                    confirmarHabilitarRegistroBtn.classList.add('btn-habilitar');
                } else {
                    header.textContent = 'Confirmar inhabilitación de registro';
                    body.textContent = '¿Estás seguro de que deseas inhabilitar este registro?';
                    confirmarHabilitarRegistroBtn.textContent = 'Inhabilitar registro';
                    confirmarHabilitarRegistroBtn.classList.remove('btn-habilitar');
                    confirmarHabilitarRegistroBtn.classList.add('btn-inhabilitar');
                }
    
                confirmarHabilitarRegistroBtn.onclick = function() {
                    toggleHabilitarRegistro(element);
                    cerrarModal('confirmarHabilitarRegistroModal');
                };
                openModal('confirmarHabilitarRegistroModal');
            }
        };
    
        // Cerrar modal
        window.cerrarModal = function(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'none';
            }
        };
    
        // Abrir modal
        window.openModal = function(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'block';
            }
        };
    });
    
    // Función para habilitar/inhabilitar el registro
    function toggleHabilitarRegistro(element) {
        var registroId = element.getAttribute('data-registro-id');
        var inhabilitado = element.getAttribute('data-registro-inhabilitado') === 'true';
        fetch('/toggle_habilitar/' + registroId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}'  // Si usas CSRF token
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                // Actualizar la fila del registro en la tabla
                var row = element.closest('tr');
                if (data.inhabilitado) {
                    row.classList.add('inhabilitado');
                    element.textContent = 'Habilitar';
                    element.setAttribute('data-registro-inhabilitado', 'true');
                } else {
                    row.classList.remove('inhabilitado');
                    element.textContent = 'Inhabilitar';
                    element.setAttribute('data-registro-inhabilitado', 'false');
                }
            } else {
                alert('Error al cambiar el estado del registro');
            }
        })
        .catch(error => console.error('Error:', error));
    }
    
    // Función para actualizar las estadísticas de usuarios
    function actualizarEstadisticasUsuarios() {
        fetch('/get_estadisticas_usuarios')
            .then(response => response.json())
            .then(data => {
                document.getElementById('usuarios-registrados').textContent = data.registrados;
                document.getElementById('usuarios-inhabilitados').textContent = data.inhabilitados;
            })
            .catch(error => console.error('Error al obtener las estadísticas:', error));
    }
    
    // Llamar a la función para actualizar las estadísticas de usuarios al cargar la página
    window.addEventListener('load', function() {
        actualizarEstadisticasUsuarios();
    });    
    
        
   
        

</script>

{% endblock %}


