@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
    --dark-text: #342E37; /* Color de texto oscuro */
    --light-text: #F9F9F9; /* Color de texto claro */
    /* Otros colores */
}


:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: rgb(228, 87, 62);
    --verde: #7cbb34;
    --azul: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}








/* Estilos para el modal */
.modal {
	display: none; /* Oculta el modal por defecto */
	position: fixed; /* Permite que el modal sea posicionado en relación con la ventana del navegador */
	z-index: 1000; /* Coloca el modal por encima del resto del contenido */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Permite desplazar el contenido del modal si es necesario */
	background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
}

/* Contenido del modal */
.modal-content {
	background-color: #fefefe; /* Fondo blanco */
	margin: 10% auto; /* Centra vertical y horizontalmente */
	padding: 20px;
	border-radius: 10px; /* Bordes redondeados */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
	width: 80%; /* Ancho del contenido del modal */
	max-width: 600px; /* Ancho máximo del contenido del modal */
	position: relative; /* Posición relativa para permitir centrado vertical */
}

/* CSS para ajustar el contenido cuando se abre el modal */
.modal-open #content {
    width: calc(100% - 280px); /* Reduce el ancho del contenido */
    left: 280px;
}

.modal-open #sidebar {
    display: none; /* Oculta el sidebar cuando se abre el modal */
}

/* Botón de cerrar (x) */
.close {
	color: #aaa;
	position: absolute; /* Posicionamiento absoluto para el botón de cerrar */
	top: 10px; /* Distancia superior desde el borde superior del modal */
	right: 10px; /* Distancia desde el borde derecho del modal */
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
}

/* Estilos para el pie del modal */
.modal-footer {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 20px; /* Ajusta el margen superior si es necesario */
}

.modal-footer button {
	font-family: var(--lato);
    margin: 0 5px; /* Elimina el margen horizontal entre los botones */
}

.modal-footer #closeModalBtn {
    background-color: var(--red); /* Cambia el color de fondo del botón "Close" a rojo */
    color: #fff; /* Cambia el color del texto a blanco */
}

.modal-footer #closeModalBtn:hover {
    background-color: #c9302c; /* Cambia el color de fondo al pasar el mouse */
    color: #fff; /* Cambia el color del texto al pasar el mouse */
}

.modal-footer #saveChangesBtn {
    background-color:#337a3f; /* Cambia el color de fondo del botón "Save changes" a verde */
    color: #fff; /* Cambia el color del texto a blanco */
}

.modal-footer #saveChangesBtn:hover {
    background-color:#245e2d; /* Cambia el color de fondo al pasar el mouse */
    color: #fff; /* Cambia el color del texto al pasar el mouse */
}




.btn-group {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.btn-fuente {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0 10px;
}

.btn-fuente:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}




        /* Estilos únicos para el modal de eliminación de cuenta */
		#confirmarEliminarModal {
			display: none;
			position: fixed;
			z-index: 1000;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0, 0, 0, 0.4);
		}
		
		#confirmarEliminarModal .modal-content {
			font-family: 'Poppins', sans-serif;
			background-color: #fefefe;
			margin: 15% auto;
			padding: 20px;
			border: 1px solid #888;
			border-radius: 10px;
			width: 80%;
		}
		
		#confirmarEliminarModal .modal-header {
			padding: 10px 20px;
			border-bottom: 1px solid #ccc;
			text-align: center;
		}
		
		#confirmarEliminarModal .close {
			color: #aaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}
		
		#confirmarEliminarModal .close:hover,
		#confirmarEliminarModal .close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
		
		#confirmarEliminarModal .modal-body {
			padding: 20px;
		}
		
		#confirmarEliminarModal .modal-footer {
			padding: 10px 20px;
			border-top: 1px solid #ccc;
			text-align: center;
		}
		
		#confirmarEliminarModal .btn-cancel,
		#confirmarEliminarModal .btn-delete {
			padding: 10px 20px;
			margin: 0 10px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-family: 'Lato', sans-serif;
		}
		
		#confirmarEliminarModal .btn-cancel {
			background-color: #ddd;
			color: #333;
		}
		
		#confirmarEliminarModal .btn-delete {
			background-color: #f44336;
			color: white;
		}
		
		#confirmarEliminarModal .btn-delete:hover {
			background-color: #cc0000;
		}



/* Estilos para el input de fecha */
input[type="date"] {
    width: calc(100% - 40px); /* Ancho ajustado */
    padding: 15px 0; /* Ajuste el espaciado vertical */
    border: none; /* Elimine el borde predeterminado */
    border-bottom: 1px solid #ced4da; /* Línea inferior */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto más oscuro */
    background-color: transparent; /* Fondo transparente */
    transition: border-color 0.3s ease; /* Transición suave para el color del borde */
    font-family: var(--poppins); /* Utilice la fuente de letra Poppins */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
}

/* Estilo cuando el input de fecha tiene el foco */
input[type="date"]:focus {
    border-bottom: 2px solid #333; /* Cambiar el color de la línea inferior al tener el foco */
}


/* Estilos para los inputs de texto en línea */
input[type="text"] {
    width: calc(100% - 40px); /* Ancho ajustado */
    padding: 0; /* Eliminar el espaciado vertical */
    border: none; /* Elimine el borde predeterminado */
    border-bottom: 1px solid transparent; /* Línea inferior transparente */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto más oscuro */
    background-color: transparent; /* Fondo transparente */
    transition: border-color 0.3s ease; /* Transición suave para el color del borde */
    font-family: var(--poppins); /* Utilice la fuente de letra Poppins */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
}

/* Estilo cuando el input de texto en línea tiene el foco */
input[type="text"]:focus {
    border-bottom: 1px solid #08090a; /* Cambiar el color de la línea inferior al tener el foco */
}



/* Contenido del modal */
.modal-content {
    font-family: 'Poppins', sans-serif; /* Agrega la fuente Poppins al contenido del modal */
    background-color: #fefefe; /* Fondo blanco */
    margin: 10% auto; /* Centra vertical y horizontalmente */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    width: 80%; /* Ancho del contenido del modal */
    max-width: 600px; /* Ancho máximo del contenido del modal */
    position: relative; /* Posición relativa para permitir centrado vertical */
}






    /* Estilos para los botones de navegación dentro de los modales */
.modal-nav-btn {
    background-color: #52b1f0; /* Color de fondo */
    color: white; /* Color del texto */
    border: 2px solid transparent; /* Borde sólido transparente */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-flex; /* Para alinear el icono y el texto */
    align-items: center; /* Alinea verticalmente */
    font-size: 14px; /* Tamaño del texto */
    margin: 5px; /* Espacio entre botones */
    cursor: pointer;
    border-radius: 30px; /* Bordes redondeados */
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s; /* Transiciones suaves */
    overflow: hidden; /* Oculta el desbordamiento */
}

/* Estilo para el icono */
.modal-nav-btn i {
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

/* Efecto de hover */
.modal-nav-btn:hover {
    background-color: #0e8cdd; /* Cambia el color de fondo al pasar el mouse */
    border-color: #0e8cdd; /* Cambia el color del borde al pasar el mouse */
    transform: translateY(-2px); /* Desplaza ligeramente hacia arriba al pasar el mouse */
}






/* Añade un contenedor alrededor de los botones de paginación */
.pagination-container {
    float: right;
    margin-top: 10px; /* Ajusta según sea necesario */
}

.pagination {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
}

.pagination-info {
    margin: 0 10px;
    font-size: 14px;
    color: var(--dark-text); /* Usa el color de texto oscuro */
}

/* Estilo adicional para el elemento .pagination-info */
.pagination-info-alt {
    font-size: 16px; /* Tamaño de fuente diferente */
    font-weight: bold; /* Fuente en negrita */
    color:#bba750; /* Cambio de color de texto */
    /* Otros estilos según tus preferencias */
}


.btn-pagination {
    margin: 0 2px;
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--dark-text); /* Usa el color de texto oscuro */
    background-color: var(--blue);
    border: none;
    cursor: pointer;
}




/* Estilos para los botones de paginación cuando se pasa el ratón sobre ellos */
.btn-pagination:hover {
    background-color: #eb6851; /* Cambia el color de fondo al pasar el ratón */
    color: #fff; /* Cambia el color del texto al pasar el ratón */
}

/* Estilo para el botón de página actual */
.current-page {
    margin: 0 2px; /* Ajusta el margen */
    font-size: 10px; /* Tamaño de fuente */
    padding: 4px 8px; /* Espaciado */
    border-radius: 8px; /* Redondea los bordes */
    background-color: #eb6851; /* Color de fondo para indicar la página actual */
    color: #fff; /* Color del texto */
    cursor: default; /* Cambia el cursor */
}


/* Estilos para los campos de entrada numérica */
input[type="number"] {
    width: calc(100% - 40px); /* Ancho ajustado */
    padding: 15px 0; /* Ajuste el espaciado vertical */
    border: none; /* Elimine el borde predeterminado */
    border-bottom: 1px solid #ced4da; /* Línea inferior */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto más oscuro */
    background-color: transparent; /* Fondo transparente */
    transition: border-color 0.3s ease; /* Transición suave para el color del borde */
    font-family: var(--poppins); /* Utilice la fuente de letra Poppins */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
}

/* Estilo cuando el input numérico tiene el foco */
input[type="number"]:focus {
    border-bottom: 2px solid #333; /* Cambiar el color de la línea inferior al tener el foco */
}





    /* Estilo para la tabla con barra de desplazamiento */
    #victimasColectivasTable {
        max-height: 400px; /* Altura máxima de la tabla */
        overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando la tabla es demasiado larga */
        display: block; /* Para permitir que la barra de desplazamiento funcione correctamente */
    }

/* Estilo para el contenedor de la tabla en el modal */
.modal-table-container {
    max-height: 400px; /* Altura máxima de la tabla */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando la tabla es demasiado larga */
    display: block; /* Para permitir que la barra de desplazamiento funcione correctamente */
}





/* Estilos para los inputs de selección */
select {
    width: calc(100% - 40px); /* Ancho ajustado */
    padding: 15px 0; /* Ajuste el espaciado vertical */
    border: none; /* Elimine el borde predeterminado */
    border-bottom: 1px solid #ced4da; /* Línea inferior */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto más oscuro */
    background-color: transparent; /* Fondo transparente */
    transition: border-color 0.3s ease; /* Transición suave para el color del borde */
    font-family: var(--poppins); /* Utiliza la fuente de letra Poppins */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
}

/* Estilo cuando el input de selección tiene el foco */
select:focus {
    border-bottom: 2px solid #333;; /* Cambiar el color de la línea inferior al tener el foco */
}

/* Estilos para los inputs de selección */
.form-control {
    width: calc(100% - 40px); /* Ancho ajustado */
    padding: 15px 0; /* Ajuste el espaciado vertical */
    border: none; /* Elimine el borde predeterminado */
    border-bottom: 1px solid #ced4da; /* Línea inferior */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto más oscuro */
    background-color: transparent; /* Fondo transparente */
    transition: border-color 0.3s ease; /* Transición suave para el color del borde */
    font-family: var(--poppins); /* Utiliza la fuente de letra Poppins */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
}

/* Estilo cuando el input de selección tiene el foco */
.form-control:focus {
    border-bottom: 2px solid #333;; /* Cambiar el color de la línea inferior al tener el foco */
}





.btn-fuente {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-fuente:hover {
    background-color: #45a049;
}





    




/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}

#sidebar .brand img {
    min-width: 60px;
	display: flex;
	justify-content: center;
    width: 24px; /* Ancho deseado */
    height: 50px; /* Alto deseado */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}

#content nav .bx.bx-search:hover {
	color: rgb(231, 146, 130);
}

#sidebar .side-menu li a.logout:hover {
     /* Cambia el color de fondo al pasar el mouse */
    color: rgb(189, 33, 2); /* Cambia el color del texto al pasar el mouse */
}

#sidebar .side-menu li a.configuration:hover {
    /* Cambia el color de fondo al pasar el mouse */
    color: #5f5f5f; /* Cambia el color del texto al pasar el mouse */
}







#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--azul);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--verde);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}


#content main .head-title .btn-download:hover {
    background: #73ad2f;
}


#content main .head-title .btn-evento {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--azul);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    border: none;
    font-family: var(--poppins); /* Agregar la fuente Poppins */
}

#content main .head-title .btn-documento {
	cursor: pointer;
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--azul);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    border: none;
    font-family: var(--poppins); /* Agregar la fuente Poppins */
    font-size: 16px; /* Tamaño de letra deseado */
}




#content main .head-title .btn-documento:hover {
	background: #2f78c2;
}





#content main .head-title .btn-evento:hover {
    background: #3884cf;
}



#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}






.chart-container {
	border-radius: 10px; /* Bordes redondeados */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
	background-color: #fff; /* Fondo blanco o cualquier otro color que desees */
	padding: 20px; /* Espaciado interno para separar el contenido de los bordes */
	margin-bottom: 20px; /* Margen inferior para separar las gráficas */
	max-width: 100%; /* Ancho máximo para evitar que se superpongan */
	width: 400px; /* Ancho específico para las gráficas */
}

.chart-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-container {
    flex: 0 0 calc(50% - 20px); /* Esto establece el ancho de cada gráfica al 50% del contenedor menos el espacio entre ellas */
    margin-bottom: 20px;
}











/* Estilos para la tarjeta */
.card {
    width: 600px; /* Ancho ajustado */
    max-width: 90%; /* Ancho máximo */
    margin: 20px auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family:var(--poppins);/* Fuente de letra más agradable */
}

.card-header {
    position: relative;
    background-color: #3f729b; /* Azul oscuro */
    color: #fff;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold; /* Texto en negrita */
    text-align: center;
}

.card-header::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3f729b; /* Misma tonalidad de azul */
}







.card-body {
    padding: 20px;
}

/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
	font-style: var(--poppins); /* Fuente de letra más agradable */
    margin-bottom: 5px; /* Reducir el espacio entre las etiquetas */
    font-weight: bold; /* Poner el texto en negrita */
}


/* Estilos para los inputs de texto, email, contraseña y archivo */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: calc(100% - 40px); /* Ancho ajustado */
    padding: 10px 0; /* Ajuste del espaciado vertical */
    border: none; /* Elimine el borde predeterminado */
    border-bottom: 1px solid #ced4da; /* Línea inferior */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto más oscuro */
    background-color: transparent; /* Fondo transparente */
    transition: border-color 0.3s ease; /* Transición suave para el color del borde */
    font-family: var(--poppins); /* Utiliza la fuente de letra Poppins */
    margin-bottom: 10px; /* Ajuste del espacio entre los inputs */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
}

/* Estilo cuando el input tiene el foco */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="file"]:focus {
    border-bottom: 2px solid #1a1a1b; /* Cambiar el color de la línea inferior al tener el foco */
}


/* Estilos para la previsualización de la foto */
.preview-image {
    width: 200px; /* Tamaño máximo de la imagen */
    height: 200px; /* Igual al ancho para que sea completamente redonda */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
    border-radius: 50%; /* Borde redondeado */
    border: 4px solid #3f729b; /* Borde más grueso */
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilos para el botón de carga de imagen */
.upload-button {
    display: block;
    margin: 0 auto 20px; /* Centra el botón y añade un poco de espacio abajo */
}

/* Estilos para el botón de guardar cambios */
.btn {
    display: block;
    width: 120px; /* Ancho del botón */
    margin: 0 auto; /* Centra el botón */
    padding: 10px 10px; /* Aumenta el tamaño del botón */
    background-color: #bd4747; /* Azul oscuro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #bd2d2d; /* Azul oscuro más claro al pasar el ratón */
}

.custom-file-upload {
    cursor: pointer;
    padding: 5px 5px; /* Reducir el padding para hacer el botón más pequeño */
    background-color: #3f9b56; /* Azul oscuro */
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #337a3f; /* Azul oscuro más claro al pasar el ratón */
}













.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light); /* Color de fondo */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra */
    z-index: 1;
    border-radius: 10px; /* Bordes redondeados */
    padding: 12px 0; /* Espacio entre los elementos */
}

.dropdown-content a {
    color: var(--dark); /* Color del texto */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease; /* Efecto de transición */
    white-space: nowrap; /* Evita que el texto se ajuste automáticamente */
    overflow: hidden; /* Oculta el texto que desborde */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto cortado */
    max-width: 100%; /* Limita el ancho máximo del texto para evitar que se desborde */
}

.dropdown-content a:hover {
    background-color: var(--blue); /* Color de fondo al pasar el ratón */
    color: var(--light); /* Color del texto al pasar el ratón */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Asegura que la flecha del perfil tenga el mismo color que el texto */
.dropdown:hover .profile-dropdown i {
    color: var(--dark);
}

.profile-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.profile-img {
    min-width: 38px;
    width: 38px; /* Ancho deseado */
    height: 38px; /* Alto deseado */
    border-radius: 50%; /* Redondea la imagen */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
    margin-right: 5px; /* Ajusta el margen derecho */
}

.profile-arrow {
    margin-top: 5px; /* Ajusta el margen superior */
}

.custom-btn {
    display: inline-block;
    padding: 6px 8px; /* Ajusta el padding para hacer el botón más pequeño */
    background-color: #2a87eb;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px; /* Tamaño de fuente */
}


.custom-btn:hover {
    background-color: #1767bd;
}


.custom-btn-eliminar {
    display: inline-block;
    padding: 6px 8px; /* Ajusta el padding para hacer el botón más pequeño */
	background-color: #bd4747;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px; /* Tamaño de fuente */
}

.custom-btn-eliminar:hover {
    background-color: #b62d2d;
}








#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

#content main .table-data .order table th,
#content main .table-data .order table td {
    padding: 12px 16px;
    font-size: 16px;
    border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
    display: table-cell; /* Asegura que cada celda se comporte como una celda de tabla */
    vertical-align: middle; /* Alinea verticalmente el contenido de las celdas */
}

#content main .table-data .order table tbody tr:hover {
    background: transparent;
}

#content main .table-data .order table tbody tr td:first-child {
    padding-left: 6px;
}


#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */





@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100% - 200px); /* Ajuste del ancho del contenido para dejar espacio al sidebar */
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }
}

@media screen and (max-width: 768px) {
	#navbar {
		display: block;
		position: static;
	}
}

@media screen and (max-width: 576px) {
    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }

    #content nav form.show .form-input input {
        display: block;
        width: 100%;
    }
    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--light);
        background: var(--red);
    }

    #content nav form.show ~ .notification,
    #content nav form.show ~ .profile {
        display: none;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    #content main .table-data .head {
        min-width: 420px;
    }
    #content main .table-data .order table {
        min-width: 420px;
    }
    #content main .table-data .todo .todo-list {
        min-width: 420px;
    }
}












::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #e2e6e9 /* Color de fondo del track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b63c38;/* Color del thumb (la barra que puedes arrastrar) */
    border-radius: 5px; /* Bordes redondeados del thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #973533/* Color del thumb al pasar el ratón sobre él */
  }
