<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/logo.ico" type="image/x-icon">
    <title>{% block title %}Título por defecto{% endblock %}</title>
    <!-- Agrega tus estilos CSS y scripts aquí -->
    <link rel="stylesheet" href="static/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
</head>
<body>

    <!-- Navbar y Sidebar -->
    {% include 'layout/navbar_sidebar.html' %}

    {% block content %}
    {% endblock %}
    

    <!-- Scripts JS -->
    <script src="{{ url_for('static', filename='js/dash.js') }}"></script>

</body>
</html>




 