<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/img/logo.ico" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/dashboard.css">
    <title>{% block title %}Título por defecto{% endblock %}</title>
</head>
<body>

   <!-- BARRA LATERAL -->
<section id="sidebar">
    <a href="{{ url_for('dashboard') }}" class="brand">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        <span class="text">VISOR HUMANITARIO</span>
    </a>

    <ul class="side-menu top">
        <li {% if request.path == url_for('usuarios') %}class="active"{% endif %}>
            <a href="{{ url_for('usuarios') }}">
                <i class='bx bxs-group' ></i>
                <span class="text">Registros</span>
            </a>
        </li>
        <li {% if request.path == url_for('proyectos') %}class="active"{% endif %}>
            <a href="{{ url_for('proyectos') }}">
                <i class='bx bxs-book' ></i>
                <span class="text">Proyectos</span>
            </a>
        </li>
        <li {% if request.path == url_for('eventos') %}class="active"{% endif %}>
            <a href="{{ url_for('eventos') }}">
                <i class='bx bx-notepad' ></i>
                <span class="text">Eventos y Capacitaciones</span>
            </a>
        </li>
        <li {% if request.path == url_for('recursos') %}class="active"{% endif %}>
            <a href="{{ url_for('recursos') }}">
                <i class='bx bx-dollar-circle' ></i>
                <span class="text">Recursos</span>
            </a>
        </li>
    </ul>

    <ul class="side-menu">
        {% if current_user.is_authenticated %}
            {% if current_user.rol == 1 or current_user.rol == 2 %}
                <li>
                    <a href="{{ url_for('configuracion') }}" class="configuration">
                        <i class='bx bx-cog' ></i>
                        <span class="text">Configuración</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
        <li>
            <a href="{{ url_for('logout') }}" class="logout" id="logout-link">
                <i class='bx bx-log-out' ></i>
                <span class="text">Cerrar sesión</span>
            </a>
        </li>
    </ul>
</section>
<!-- BARRA LATERAL -->


    <!-- CONTENIDO -->
    <section id="content">
        <!-- BARRA DE NAVEGACIÓN -->
        <nav id="navbar">
            <i class='bx bx-menu' id="menu-icon"></i>
            <a href="#" class="nav-link">Categorías</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Buscar...">
                    <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
                </div>
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            <a href="#" class="notification">
                <i class='bx bxs-bell' ></i>
                <span class="num">8</span>
            </a>
             <!-- Icono de perfil -->
             <div class="dropdown">
                <div class="profile-dropdown">
                    {% if current_user.foto_perfil %}
                    <img src="{{ url_for('uploaded_file', filename=current_user.foto_perfil) }}" alt="Perfil" class="profile-img">
                    {% else %}
                        <img src="{{ url_for('static', filename='img/default_profile.jpg') }}" alt="Perfil" class="profile-img">
                    {% endif %}
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="dropdown-content">
                    <a href="{{ url_for('editar_perfil') }}">Editar</a>
                    <!-- Diálogo emergente para confirmar la eliminación de cuenta -->
                    <a href="javascript:void(0);" onclick="mostrarModal()">Eliminar</a>
                    <a href="{{ url_for('logout') }}" class="logout" id="logout-link">Salir</a>
                </div>
            </div>
        </nav>
    </section>

    <!-- Diálogo emergente para confirmar eliminación de cuenta -->
    <div id="confirmarEliminarModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="cerrarModal()">&times;</span>
                <h2>Confirmar eliminación de cuenta</h2>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede deshacer.</p>
            </div>
            <div class="modal-footer">
                <button class="btn-cancel" onclick="cerrarModal()">Cancelar</button>
                <a href="{{ url_for('eliminar_perfil') }}" class="btn-delete">Eliminar cuenta</a>
            </div>
        </div>
    </div>



    <style>


    </style>
    <script src="static/js/dash.js"></script>
</body>
</html>