{% extends "layout/layout.html" %}
{% block title %}{{ proyecto.nombre }}{% endblock %}

{% block content %}
<section id="content">
    <div class="edit-project-container">
        <div class="edit-project-header">
            <h1>{{ proyecto.nombre }}</h1>
        </div>
        <div class="edit-project-body">
            <form action="{{ url_for('editar_proyecto', proyecto_id=proyecto.id) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="edit-form-row">
                    <div class="edit-form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" value="{{ proyecto.nombre }}" class="edit-input" required>
                    </div>

                    <div class="edit-form-group">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" id="descripcion" name="descripcion" value="{{ proyecto.descripcion }}" class="edit-input" required>
                    </div>

                    <div class="edit-form-group">
                        <label for="cluster">Cluster:</label>
                        <select id="cluster" name="cluster" class="edit-select" required>
                            <option value="Cluster de Agua, Saneamiento e Higiene (WASH)">Cluster de Agua, Saneamiento e Higiene (WASH)</option>
                            <option value="Cluster de Alimentación y Nutrición">Cluster de Alimentación y Nutrición</option>
                            <option value="Cluster de Educación">Cluster de Educación</option>
                        </select>
                    </div>
                </div>

                <div class="edit-form-row">
                    <div class="edit-form-group">
                        <label for="responsable">Responsable:</label>
                        <input type="text" id="responsable" name="responsable" value="{{ proyecto.responsable }}" class="edit-input" required>
                    </div>

                    <div class="edit-form-group">
                        <label for="fecha_inicio">Fecha de Inicio:</label>
                        <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ proyecto.fecha_inicio }}" class="edit-input" required>
                    </div>

                    <div class="edit-form-group">
                        <label for="fecha_finalizacion">Fecha de Finalización:</label>
                        <input type="date" id="fecha_finalizacion" name="fecha_finalizacion" value="{{ proyecto.fecha_finalizacion }}" class="edit-input" required>
                    </div>
                </div>

                <div class="edit-form-row">
                    <div class="edit-form-group">
                        <label for="estado">Estado:</label>
                        <select id="estado" name="estado" class="edit-select" required>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                </div>

                <div class="edit-form-row">
                    <div class="edit-form-group">
                        <button type="submit" class="edit-submit-btn">Actualizar Proyecto</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <button type="button" class="boton-act boton-act-secondary" data-toggle="modal" data-target="#modalSeleccionActividad">
                Seleccionar Actividad
            </button>



<!-- Modal -->
<div class="modal fade" id="modalSeleccionActividad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleccione una o más actividades</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('agregar_beneficiarios', proyecto_id=proyecto.id) }}" method="post">
            <label>Seleccione una o más actividades:</label>
            <div class="form-check">
              {% for actividad in actividades %}
                <input class="form-check-input" type="checkbox" id="actividad{{ actividad.id }}" name="actividad[]" value="{{ actividad.id }}">
                <label class="form-check-label" for="actividad{{ actividad.id }}">
                  {{ actividad.nombre }}
                </label>
                <br>
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="boton-act boton-act-secondary" style="" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="boton-act boton-act-primary" >Agregar Beneficiarios</button>
        </div>
        
        </form>
      </div>
    </div>
  </div>
 </div>
 </div>
</section>

<script>
    $(document).ready(function(){
        $('#modalSeleccionActividad').on('shown.bs.modal', function () {
            $('#actividad').focus();
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
