<table>
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Tipo de Documento</th>
            <th>Número de Documento</th>
            <th>País</th>
            <th>Departamento</th>
            <th>Municipio</th>
            <th>Género</th>
            <th>Edad</th>
            <th>Grupo de Edad</th>
            <th>Grupo Étnico</th>
            <th>Discapacidad</th>
            <th>Comunidad</th>
            <th>Actividad</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in registros %}
        <tr>
            <td>{{ registro.nombres }}</td>
            <td>{{ registro.apellidos }}</td>
            <td>{{ registro.tipo_documento }}</td>
            <td>{{ registro.numero_documento }}</td>
            <td>{{ registro.pais }}</td>
            <td>{{ registro.departamento }}</td>
            <td>{{ registro.municipio }}</td>
            <td>{{ registro.genero }}</td>
            <td>{{ registro.edad }}</td>
            <td>
                {% if registro.grupo_edad == "menor_18" %}
                    Menor de 18 años
                {% elif registro.grupo_edad == "18_49" %}
                    18 a 49 años
                {% elif registro.grupo_edad == "50_mas" %}
                    50 años en adelante
                {% endif %}
            </td>
            <td>{{ registro.grupo_etnico }}</td>
            <td>{{ registro.discapacidad }}</td>
            <td>{{ registro.comunidad }}</td>
            <td>{{ registro.actividad.nombre }}</td>
            <td>
                <a href="" class="custom-btn">Editar</a>
                <a href="" class="custom-btn-eliminar">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
