<script>
    // Función para abrir el modal
    function openModal(modalId) {
        var modal = document.getElementById(modalId);
        var modalPreliminar = document.getElementById('myModalPreliminar');
        if (modalPreliminar) {
            modalPreliminar.style.display = "none"; // Cerrar el modal preliminar
        }
        if (modal) {
            modal.style.display = "block"; // Abrir el modal solicitado
        }
    }

    // Función para cerrar el modal
    function closeModal(modalId) {
        var modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "none"; // Ocultar el modal solicitado
        }
    }

    // Función para cerrar el modal al hacer clic en el botón "Cancelar"
    function cancelarEliminarRegistro() {
        closeModal('confirmarEliminarRegistroModal');
    }

    // Función para cerrar el modal al hacer clic en el símbolo "x"
    function cerrarModal(modalId) {
        closeModal(modalId);
    }

    // Resto del código...

    document.addEventListener('DOMContentLoaded', function() {
        // Resto del código...
    });
</script>
