{% extends "layout/layout.html" %}

{% block title %}Historial del Registro{% endblock %}

{% block content %}
<section id="content">
    <div class="edit-project-container historial-container">
        <div class="historial-header">
            <h1>Historial del Registro</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="/dashboard">Inicio</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Historial del Registro</a>
                </li>
            </ul>
        </div>

        <div class="edit-project-body historial-body">
            <div class="registro-info">
                <h2 class="centered">{{ registro.nombres }} {{ registro.apellidos }}</h2>
                <br>
                <br>
        
                <!-- Recuadro de imagen -->
                <div class="profile-image-container centered">
                    <label for="upload-image" class="profile-image-label">
                        {% if registro.imagen_url %}
                            <img id="foto-preview" src="{{ registro.imagen_url }}" alt="Imagen de perfil" class="profile-image">
                        {% else %}
                            <img id="foto-preview" src="{{ url_for('static', filename='img/sin_perfil.jpg') }}" alt="Imagen de perfil" class="profile-image">
                        {% endif %}
                        <div class="overlay">
                            <div class="text">Cambiar Imagen</div>
                        </div>
                    </label>
                    <form id="upload-image-form" action="{{ url_for('upload_image', registro_id=registro.id) }}" method="post" enctype="multipart/form-data" style="display: none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="file" id="upload-image" name="imagen" accept="image/*" onchange="previewImage(event)">
                    </form>
                </div>

                <!-- Información del registro -->
                <div class="historial-info">
                    <div class="historial-form-row">
                        <div class="historial-form-group">
                            <p><strong>Tipo de Documento:</strong></p>
                            <p>{{ registro.tipo_documento }}</p>
                        </div>
                        <div class="historial-form-group">
                            <p><strong>Número de Documento:</strong></p>
                            <p>{{ registro.numero_documento }}</p>
                        </div>
                    </div>
                    <div class="historial-form-row">
                        <div class="historial-form-group">
                            <p><strong>País:</strong></p>
                            <p>{{ registro.pais }}</p>
                        </div>
                        <div class="historial-form-group">
                            <p><strong>Departamento:</strong></p>
                            <p>{{ registro.departamento }}</p>
                        </div>
                    </div>
                    <div class="historial-form-row">
                        <div class="historial-form-group">
                            <p><strong>Municipio:</strong></p>
                            <p>{{ registro.municipio }}</p>
                        </div>
                        <div class="historial-form-group">
                            <p><strong>Género:</strong></p>
                            <p>{{ registro.genero }}</p>
                        </div>
                    </div>
                    <div class="historial-form-row">
                        <div class="historial-form-group">
                            <p><strong>Edad:</strong></p>
                            <p>{{ registro.edad }}</p>
                        </div>
                        <div class="historial-form-group">
                            <p><strong>Grupo de Edad:</strong></p>
                            <p>
                                {% if registro.grupo_edad == "menor_18" %}
                                    Menor de 18
                                {% elif registro.grupo_edad == "18_49" %}
                                    18 a 49
                                {% elif registro.grupo_edad == "50_mas" %}
                                    50 o más
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="historial-form-row">
                        <div class="historial-form-group">
                            <p><strong>Grupo Étnico:</strong></p>
                            <p>{{ registro.grupo_etnico }}</p>
                        </div>
                        <div class="historial-form-group">
                            <p><strong>Discapacidad:</strong></p>
                            <p>{{ registro.discapacidad }}</p>
                        </div>
                    </div>
                    <div class="historial-form-row">
                        <div class="historial-form-group">
                            <p><strong>Comunidad:</strong></p>
                            <p>{{ registro.comunidad }}</p>
                        </div>
                        <div class="historial-form-group">
                            <p><strong>Actividad:</strong></p>
                            <p>{{ registro.actividad.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br><br><br>
      ###  AQUI SE IMPLEMENTARAN DATOS ESTADISTICOS Y TRAZABILIDAD DE REGISTROS. ###
      <br><br><br>
    </div>

  
</section>



<!-- Script para previsualizar la foto y manejar la carga de la imagen -->
<script>
    function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('foto-preview');
        var reader = new FileReader();

        reader.onload = function() {
            preview.src = reader.result;
        }

        reader.readAsDataURL(input.files[0]);

        // Enviar el formulario automáticamente después de seleccionar la imagen
        document.getElementById('upload-image-form').submit();
    }

    // Capturar la carga exitosa de la imagen y mostrar el mensaje
    document.getElementById('upload-image-form').addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(this);

        fetch(this.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRF-Token': '{{ csrf_token() }}'
            }
        })
        .then(response => {
            if (response.ok) {
                // Mostrar mensaje de éxito
                var mensajeExito = document.getElementById("registro-exitoso");
                mensajeExito.style.display = "block";
                mensajeExito.style.opacity = '1';

                // Ocultar mensaje después de 3 segundos
                setTimeout(function() {
                    mensajeExito.style.opacity = '0';
                    setTimeout(function() {
                        mensajeExito.style.display = 'none';
                    }, 300);
                }, 3000);
            } else {
                alert('Error al subir la imagen.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al comunicarse con el servidor.');
        });
    });
</script>
{% endblock %}
