<!-- Modal -->
<div class="modal fade" id="modalSeleccionActividad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleccione una o más actividades</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('agregar_beneficiarios', proyecto_id=proyecto.id) }}" method="post">
            <label for="actividad">Seleccione una o más actividades:</label>
            <select id="actividad" name="actividad" multiple>
                {% for actividad in actividades %}
                    <option value="{{ actividad.id }}">{{ actividad.nombre }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Agregar Beneficiarios</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  